In [18]:
import pandas as pd
import numpy as np
import json
import sqlite3

In [19]:
# List of Tables in the bible-sqlite.db database

con = sqlite3.connect("C:\\Users\\Pablo\\Desktop\\Bible Project\\archive\\bible_databases-master\\bible-sqlite.db")
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("TABLES IN DATABASE\n")
print(cursor.fetchall())

data = pd.read_sql_query(sql="SELECT * FROM t_asv",con=con)
data.set_index('id',inplace=True)
data.columns = ['Book','Chapter','Verse','Text']

con.close()

data.head()

TABLES IN DATABASE

[('bible_version_key',), ('cross_reference',), ('key_english',), ('t_asv',), ('t_bbe',), ('t_dby',), ('t_kjv',), ('t_wbt',), ('t_web',), ('t_ylt',)]

,Book,Chapter,Verse,Text
id,,,,
1001001,1,1,1,In the beginning God created the heavens and t...
1001002,1,1,2,And the earth was waste and void; and darkness...
1001003,1,1,3,"And God said, Let there be light: and there wa..."
1001004,1,1,4,"And God saw the light, that it was good: and G..."
1001005,1,1,5,"And God called the light Day, and the darkness..."

In [20]:
BooksDB = pd.read_excel('BooksDict.xlsx')
BibleDict = dict(zip(BooksDB['Number'],BooksDB['Book']))
del BooksDB

data['Book'] = data['Book'].replace(BibleDict)

In [21]:
for i in data.head(3)['Text'].values:
    print(i+"\n...")

In the beginning God created the heavens and the earth.
...
And the earth was waste and void; and darkness was upon the face of the deep: and the Spirit of God moved upon the face of the waters.
...
And God said, Let there be light: and there was light.
...

In [22]:
def verse(book,chapter,verse):
    return data[(data['Book']==book)&(data['Chapter']==chapter)&(data['Verse']==verse)]['Text'].values[0]

In [23]:
verse("Exodus",1,1)

'Now these are the names of the sons of Israel, who came into Egypt (every man and his household came with Jacob):'

In [24]:
verse('Revelation',22,11)

'He that is unrighteous, let him do unrighteousness still: and he that is filthy, let him be made filthy still: and he that is righteous, let him do righteousness still: and he that is holy, let him be made holy still.'

In [30]:
Bible = {}

for Book in list(BibleDict.values()):
    
    BookText = ""
    for v in data[data['Book']==Book]['Text']:
        BookText+=(v+' ')
    
    Bible[Book] = BookText[:len(BookText)-1]

In [32]:
Bible['Ecclesiastes'][:100]

'The words of the Preacher, the son of David, king in Jerusalem. Vanity of vanities, saith the Preach'

In [27]:
# annotated "psalm titles" on each chapter. need to be cleaned

Bible['Psalms'][1726:2000]

' him. Psalm 3 A Psalm of David, when he fled from Absalom his son. Jehovah, how are mine adversaries increased! Many are they that rise up against me. Many there are that say of my soul, There is no help for him in God. Selah But thou, O Jehovah, art a shield about me; My g'

In [28]:
#for book in BibleDict.values():

#    with open('Bible/'+book+'.txt', 'w') as f:
#        f.write(Bible[book])